<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/checkout.css" />
</head>
<body>
<header class="header">
    <div class="logo">
        <h1>Programmers</h1>
    </div>
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Sök produkter">
        <button id="search-button">Sök</button>
        <ul id="suggestions-list" class="suggestions"></ul>
    </div>
    <div class="icon-links">
        <a href="#" class="icon-link">
            <i class="fas fa-store"></i> Hitta butik
        </a>
        <a href="#" class="icon-link">
            <i class="fas fa-sign-in-alt"></i> Logga in
        </a>
        <a href="#" class="icon-link">
            <i class="fas fa-shopping-cart"></i> Kundvagn
        </a>
    </div>
</header>



<!-- Morgans Del--> <main></main>














<footer>
    <div class="footer-links">
      <h4>Kundtjänst</h4>
      <ul>
        <li><a href="https://www.google.com/">Hitta butik</a></li>
        <li><a href="https://www.google.com/">Spåra din leverans</a></li>
        <li><a href="https://www.google.com/">Vanliga frågor</a></li>
        <li><a href="https://www.google.com/">Kontakta oss</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h4>Information</h4>
      <ul>
        <li><a href="https://www.google.com/">Leverans</a></li>
        <li><a href="https://www.google.com/">Marketplace</a></li>
        <li><a href="https://www.google.com/">Köpvillkor</a></li>
        <li><a href="https://www.google.com/">Recensioner</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h4>Om oss</h4>
      <ul>
        <li><a href="https://www.google.com/">Ledningsgrupp </a></li>
        <li><a href="https://www.google.com/">Karriärmöjligheter</a></li>
        <li><a href="https://www.google.com/">Event</a></li>
        <li><a href="https://www.google.com/">Hållbarhet</a></li>
      </ul>
    </div>
    <p class="copyright">Copyright &copy; 2024 by Programmers AJM</p>
  </footer>
<script src="/javascripts/homepage.js"></script>
</html>
 