<!DOCTYPE html>
<html lang="sv">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/details.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <h1>Programmers</h1>
        </div>
        <div class="search-container">
          <input type="text" id="search-bar" placeholder="Sök produkter" />
          <ul id="suggestions-list" class="suggestions"></ul>
          <button id="search-button">Sök</button>
        </div>
        <div class="icon-links">
          <a href="#" class="icon-link">
            <i class="fa-thin fa-building-magnifying-glass"></i> Hitta butik
          </a>
          <a href="#" class="icon-link">
            <i class="fa-solid fa-right-to-bracket"></i> Logga in
          </a>
          <a href="#" class="icon-link">
            <i class="fa-solid fa-cart-shopping"></i> Kundvagn
          </a>
        </div>
      </div>
    </header>

    <main class="container">
      <section class="produkt-info">
        <img id="produkt-bild" src="../public/macbook.jpg" alt="MacBook" />
        <h2>MacBook Air M2 CTO 16/256</h2>
        <p class="pris">11 290 kr</p>
        <p class="beskrivning">
          MacBook Air är byggd från grunden runt det nya M2-chippet som ger dig
          rikligt med kraft i en mindre förpackning. Liquid Retina-skärmen
          sträcker sig ännu längre än tidigare och ger dig stort visningsutrymme
          och fantastisk bild.
        </p>

        <div class="specifikationer">
          <p><strong>Specifikationer:</strong></p>
          <ul>
            <li>Apple M2 chip octa-core SoC</li>
            <li>13.6" Liquid Retina-skärm med True Tone</li>
            <li>8 GB RAM, 256 GB SSD-lagring</li>
          </ul>
        </div>
        <div class="alternativ">
          <label for="färg-alternativ">Färgalternativ:</label>
          <select id="färg-alternativ">
            <option value="midnight">Midnight</option>
            <option value="silver">Silver</option>
            <option value="starlight">Starlight</option>
          </select>
        </div>
        <button id="köp-nu">Köp nu</button>
      </section>
    </main>

    <section class="review">
      <div class="container">
        <div class="container__left">
          <h1>Bygg din framtid med kraftfulla datorer från AJM</h1>
          <p>
            För programmerare erbjuder vi högpresterande och pålitliga datorer
            anpassade för krävande utvecklingsmiljöer, inklusive webbutveckling,
            maskininlärning och spelprogrammering. Våra datorer kombinerar
            kraftfulla processorer och snabb lagring för effektiv kodutveckling.
          </p>
          <p>
            För företag tillhandahåller vi skräddarsydda, kostnadseffektiva
            lösningar som förbättrar produktiviteten och optimerar arbetsflöden,
            med hållbara datorer och anpassad support. Lita på AJM för att
            utrusta ditt team med verktyg för framgång.
          </p>
        </div>
        <div class="container__right">
          <div class="customers">
            <img src="images/customer1.jpg" alt="Porträtt av Victor Sjöholm" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Jag är imponerad av både prestanda och pris på datorerna från
                  AJM. De har verkligen förstått vad en programmerare behöver!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Victor Sjöholm</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img
              src="images/customer2.jpg"
              alt="Porträtt av Maria Torstensson"
            />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Som företag valde vi AJM för deras pålitliga och skräddarsydda
                  lösningar. Vi är nu mer effektiva än någonsin!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Maria Torstensson</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img src="images/customer3.jpg" alt="Rijad Hamula" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Vi har haft ett fantastiskt samarbete med AJM. Deras datorer
                  har förbättrat både våra interna processer och vår
                  kundservice.
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Rijad Hamula</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img src="images/customer4.jpg" alt="Porträtt av Mirjam Davis" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  AJM:s datorer har verkligen tagit min programmering till nästa
                  nivå. Snabb, pålitlig och exakt vad jag behövde!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Mirjam Davis</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-links">
        <h4>Kundtjänst</h4>
        <ul>
          <li><a href="https://www.google.com/">Hitta butik</a></li>
          <li><a href="https://www.google.com/">Spåra din leverans</a></li>
          <li><a href="https://www.google.com/">Vanliga frågor</a></li>
          <li><a href="https://www.google.com/">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Information</h4>
        <ul>
          <li><a href="https://www.google.com/">Leverans</a></li>
          <li><a href="https://www.google.com/">Marketplace</a></li>
          <li><a href="https://www.google.com/">Köpvillkor</a></li>
          <li><a href="https://www.google.com/">Recensioner</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Om oss</h4>
        <ul>
          <li><a href="https://www.google.com/">Ledningsgrupp </a></li>
          <li><a href="https://www.google.com/">Karriärmöjligheter</a></li>
          <li><a href="https://www.google.com/">Event</a></li>
          <li><a href="https://www.google.com/">Hållbarhet</a></li>
        </ul>
      </div>
      <p class="copyright">Copyright &copy; 2024 by Programmers AJM</p>
    </footer>
    <script src="/javascripts/homepage.js"></script>
  </body>
</html>
