<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link rel="icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/search.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <h1><a href="/">Programmers<a></h1>
      </div>
      <div class="search-container">
        <input type="text" id="search-bar" placeholder="Sök produkter" />
        <button id="search-button">Sök</button>
        <ul id="suggestions-list" class="suggestions"></ul>
      </div>
      <div class="icon-links">
        <a href="#" class="icon-link">
          <i class="fas fa-store"></i> Hitta butik
        </a>
        <a href="#" class="icon-link">
          <i class="fas fa-sign-in-alt"></i> Logga in
        </a>
        <a href="#" class="icon-link">
          <i class="fas fa-shopping-cart"></i> Kundvagn
        </a>
      </div>
    </header>

    <div class="sidebar">
      <button id="hamburger-btn">☰</button>
      <form id="filter-form">
        <h3 class="heading-tertiary">Filtrera efter</h3>
        <!-- Märken (Brand) -->
        <div class="filter-group">
          <label class="brand">Märke</label>
          <div>
            <label>
              <input type="checkbox" name="brand" value="apple" /> Apple
            </label>
            <label>
              <input type="checkbox" name="brand" value="dell" /> Dell
            </label>
            <label>
              <input type="checkbox" name="brand" value="microsoft" />
              Microsoft
            </label>
            <label>
              <input type="checkbox" name="brand" value="asus" /> Asus
            </label>
            <label>
              <input type="checkbox" name="brand" value="lenovo" /> Lenovo
            </label>
            <label>
              <input type="checkbox" name="brand" value="hp" /> Hp
            </label>
            <label>
              <input type="checkbox" name="brand" value="acer" /> Acer
            </label>
          </div>
        </div>

        <!-- Pris (Price) -->
        <div class="filter-group">
          <label class="price">Pris</label>
          <select id="price-filter" name="price">
            <option value="all">Alla</option>
            <option value="low">Under 10 000</option>
            <option value="mid">10 000 - 20 000</option>
            <option value="high">Över 20 000</option>
          </select>
        </div>

        <!-- Färg (Color) -->
        <div class="filter-group">
          <label class="color">Färg</label>
          <div>
            <label>
              <input type="checkbox" name="color" value="black" /> Svart
            </label>
            <label>
              <input type="checkbox" name="color" value="silver" /> Silver
            </label>
            <label>
              <input type="checkbox" name="color" value="white" /> Vit
            </label>
            <label>
              <input type="checkbox" name="color" value="gold" /> Guld
            </label>
            <label>
              <input type="checkbox" name="color" value="blue" /> Blå
            </label>
          </div>
        </div>
        <button type="submit" class="apply-filters">Använd filter</button>
      </form>
    </div>

    <section class="search-gallery">
      <div class="galleri">
        <!-- Produkt 1 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/macbook1.jpg" alt="Macbook Air M2 CTO 16/256GB" />
          <p class="product-title">Macbook Air M2 CTO 16/256GB</p>
          <p class="pris">11 290 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 2 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/acer1.jpg" alt="HP Pavilion x360 2-in-1 Laptop 14" />
          <p class="product-title">HP Pavilion x360 2-in-1 Laptop 14</p>
          <p class="pris">9 499 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 3 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/dell2.jpg" alt="dell" />
          <p class="product-title">dell</p>
          <p class="pris">21 959 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 4 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/asus3.jpg" alt="Asus Vivobook 15K K3502 I7" />
          <p class="product-title">Asus Vivobook 15K K3502 I7</p>
          <p class="pris">7 490 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 5 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img
            src="images/lenovo2.jpg"
            alt="Lenovo IdeaPad 1 Celeron 4/128 1"
          />
          <p class="product-title">Lenovo IdeaPad 1 Celeron 4/128 1</p>
          <p class="pris">4 999 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 6 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img
            src="images/acer2.jpg"
            alt="Acer Chromebook Plus 5i5 15-12/256GB"
          />
          <p class="product-title">Acer Chromebook Plus 5i5 15-12/256GB</p>
          <p class="pris">4 490 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 7 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/acer1.jpg" alt="Extra Produkt 1" />
          <p class="product-title">Extra Produkt 1</p>
          <p class="pris">6 490 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 8 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/hp2.jpg" alt="Extra Produkt 2" />
          <p class="product-title">Extra Produkt 2</p>
          <p class="pris">7 990 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
        <!-- Produkt 9 -->
        <div class="product">
          <span class="badge">Nyhet</span>
          <img src="images/hp1.jpg" alt="Extra Produkt 3" />
          <p class="product-title">Extra Produkt 3</p>
          <p class="pris">8 499 kr</p>
          <button class="add-to-cart">Lägg till i varukorg</button>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-links">
        <h4>Kundtjänst</h4>
        <ul>
          <li><a href="https://www.google.com/">Hitta butik</a></li>
          <li><a href="https://www.google.com/">Spåra din leverans</a></li>
          <li><a href="https://www.google.com/">Vanliga frågor</a></li>
          <li><a href="https://www.google.com/">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Information</h4>
        <ul>
          <li><a href="https://www.google.com/">Leverans</a></li>
          <li><a href="https://www.google.com/">Marketplace</a></li>
          <li><a href="https://www.google.com/">Köpvillkor</a></li>
          <li><a href="https://www.google.com/">Recensioner</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Om oss</h4>
        <ul>
          <li><a href="https://www.google.com/">Ledningsgrupp </a></li>
          <li><a href="https://www.google.com/">Karriärmöjligheter</a></li>
          <li><a href="https://www.google.com/">Event</a></li>
          <li><a href="https://www.google.com/">Hållbarhet</a></li>
        </ul>
      </div>
      <p class="copyright">Copyright &copy; 2024 by Programmers AJM</p>
    </footer>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
